### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [78]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [79]:
# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [80]:
#View Data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [81]:
#Go through variable/file grabbing data view data
player_demo = purchase_data.loc[:, ["Gender","SN", "Age"]]
player_demo.head()

#Drop duplicates and count players
player_demo = player_demo.drop_duplicates()
player_count = player_demo.count()[0]
player_count

576

In [82]:
#Turn file into panda df 
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
#Basic Calculations
average_price = purchase_data["Price"].mean()
total_value = purchase_data["Price"].sum()
purchase_count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

#Create DataFrame to hold results
summary_df = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_value],
                               "Number of Purchases": [purchase_count],
                               "Average Purchase Price": [average_price]})

#cleanup
summary_df = summary_df.round(2)
summary_df ["Average Price"] = summary_df["Average Purchase Price"].map("${:,.2f}".format)
summary_df ["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df = summary_df.loc[:, ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]]

summary_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [84]:
# Basic Calculations
gender_demo_totals=player_demo['Gender'].value_counts()
gender_demo_percents = gender_demo_totals / player_count * 100

# Data Cleanup
gender_demo = pd.DataFrame({"Total Count": gender_demo_totals,
                                    "Percentage of Players": gender_demo_percents})

gender_demo = gender_demo.round(2)

#Data Gender_demo
gender_demo

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
# Basic Calculations
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_av = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_ptotal = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")

# Cleanup
gender_data = pd.DataFrame({"Average Purchase Price": gender_av,
                            "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_ptotal})
#Display
gender_data

,Average Purchase Price,Purchase Count,Total Purchase Value
Gender,,,
Female,3.203009,113,361.94
Male,3.017853,652,1967.64
Other / Non-Disclosed,3.346000,15,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [86]:
#Bin Ages
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
del player_demo['SN']

#Categorize players
player_demo["Age Ranges"] = pd.cut(player_demo["Age"], age_bins, labels=group_names)
player_demo.head()

  Gender  Age Age Ranges
0   Male   20      20-24
1   Male   40        40+
2   Male   24      20-24
3   Male   24      20-24
4   Male   23      20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
#Breakdown for percent
age_demo_totals = player_demo["Age Ranges"].value_counts()
age_demo_percents = age_demo_totals / player_count * 100
age_demo = pd.DataFrame({"Total Count": age_demo_totals, 
                       "Percent of Players": age_demo_percents})
age_demo = age_demo.sort_index()
age_demo

       Total Count  Percent of Players
<10             17            2.951389
10-14           22            3.819444
15-19          107           18.576389
20-24          258           44.791667
25-29           77           13.368056
30-34           52            9.027778
35-39           31            5.381944
40+             12            2.083333

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [90]:
#Basic Calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
user_av = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")


user_data = pd.DataFrame({ "Purchase Count": user_count, 
                          "Average Purchase Price": user_av,
                        "Total Purchase Amount": user_total,})

# Convert to Data Frame
user_data.sort_values("Total Purchase Amount", ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Amount
SN
Lisosia93                 5                3.792000                  18.96
Idastidru52               4                3.862500                  15.45
Chamjask73                3                4.610000                  13.83
Iral74                    4                3.405000                  13.62
Iskadarya95               3                4.366667                  13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [99]:
items=purchase_data [["Item ID", "Item Name", "Price"]]
item_info=items.groupby(["Item ID","Item Name"])
purchase_count_item = item_info["Price"].count()
purchase_value = (item_info["Price"].sum()) 
item_price = purchase_value/purchase_count_item
most_popular_items = pd.DataFrame({"Item Price": item_price,
                                    "Purchase Count": purchase_count_item, 
                                   "Total Purchase Value":purchase_value})
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [100]:
profit_df = pd.DataFrame(purchase_data)
profit_grp = profit_df.groupby(['Item ID','Item Name'])
profit_df = pd.DataFrame({"Purchase Count":profit_grp["Price"].count(),"Item Price":profit_grp["Price"].mean(),"Total Purchase Value":profit_grp["Price"].sum()})
profit_df = profit_df.sort_values("Total Purchase Value", ascending=False)
profit_df["Item Price"] = profit_df["Item Price"].map("${:.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:,.2f}".format)

profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
#Three observable trends based on the data:
#Over 80% of the players are men, which I would expect but more than 80% was a bit shocking!
#44% of players were between the ages of 20-24, also what you might expect
#Oathbreaker, Last Hope of the Breaking Storm is the most profitable and the most popular item